@font-face {
	font-family: 'Font1'; 
	src: url('../fonts/font1.ttf');
}


body{
	background-image: url('../images/background.png');
	background-repeat: no-repeat;  
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

mam{
	font-family: 'Font1'; 
	color: white;
	font-size:20px;
}

mmam{
	font-family: 'Font1'; 
	color: white;
}
